:root {
  --bg: hsla(0, 0%, 100%, 1);
  --bg-mobile: hsla(0, 0%, 98%, 1);
  --shadow: hsla(0, 0%, 0%, 0.1);
  /* text */
  --black: hsla(0, 0%, 0%, 1);
  /* titles, subtitles */
  --gray1: hsla(0, 0%, 20%, 1);
  /* aside & description */
  --gray2: hsla(0, 0%, 31%, 1);
  /* checkbox border & footer */
  --gray3: hsla(0, 0%, 51%, 1);
  /* aside & source link */
  --gray4: hsla(0, 0%, 74%, 1);
  /* 6 dots, source link */
  --gray5: hsla(0, 0%, 77%, 1);
  --orange: hsla(28, 87%, 62%, 1);
}

/**
 * Reset browser styles and default tag styles 
 */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: var(--black);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  * {
    background: var(--bg-mobile);
  }
}

em {
  font-style: italic;
}

b {
  font-weight: 700;
}

/**
 * Typography
 */

.title-preset-1, .title-preset-2, .title-preset-3 {
  font-family: Playfair Display;
}

.title-preset-1, .title-preset-2 {
  font-style: normal;
  font-weight: 700;

}

.title-preset-1 {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--black);
}

.title-preset-2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--gray1);
  margin: 32px 0;
}

.title-preset-3 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--gray1);
  margin-bottom: 32px;
}

/* In the other hand, texts mix italic-bold-normal styles a lot in the layout, 
 * so we're going to be applying the weight to the <b> and style to the <em> tags
*/
 
.text-preset-1, 
.text-preset-2, 
.text-preset-3, 
.text-preset-4, 
.text-preset-4, 
.text-preset-5, 
.text-preset-6, 
.text-preset-7 {
  font-family: Montserrat;
}

/* subtitle */
.text-preset-1 {
  font-style: italic;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--gray2);
}

.text-preset-2, .text-preset-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-preset-2 {
  color: var(--gray1);
}

.text-preset-3 {
  color: var(--black);
}

/* source link */
.text-preset-4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray4);
}

/* Aside */
.text-preset-5 {
  font-style: normal;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.75rem;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: var(--gray4);
}

.text-preset-6, .text-preset-7 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
}

.text-preset-6 {
  color: var(--orange);
}

.text-preset-7 {  
  color: var(--gray1);
}

/**
 * Body styles
 */
 body {
  padding: 48px 15% 0;
}

@media screen and (max-width: 768px) {
  body {
    padding: 32px 8px 0;
  }
}

/**
 * Header styles
 */
.header-subtitle {
  display: flex;
  margin-top: 16px;
}

.header-dots {
  margin-right: 8px;
}

.header-text-subtitle {
  max-width: 60%;
  text-align: justify;
}


@media screen and (max-width: 768px) {
  .header-text-subtitle {
    max-width: unset;
    text-align: justify;
  }
}

.cheesecake-hero {
  width: 100%;
  margin: 48px 0;
}


/**
 * Main styles
 */

.grid-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 768px) {
  .grid-content {
    grid-template-columns: 1fr;
  }
}

/**
 * Aside styles 
 */
.aside-card {
  grid-row: 1;
  position: static;
  display: flex;
  flex-flow: wrap;
}

@media screen and (min-width: 768px) {
  .aside-card {
    display: unset;
    grid-row: unset;
    box-shadow: 0px 0px 20px var(--shadow);
    border-radius: 12px;
    padding: 56px 40px;
    margin-left: 10%;
    justify-self: end;
    height: max-content;
    position: sticky;
    top: 0;
  }
}

.aside-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.aside-item:not(:first-child) {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .aside-item:not(:first-child) {
    width: 33%;
  }
}


.aside-item-information {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}


/**
 * Ingredients styles
 */
.cheesecake-title {
  margin-top: 24px;
}

.fieldset-items {
  display: grid;
}

/* Styling the checkboxes */
.fieldset-item-label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 4px;
  cursor: pointer;
  text-align: justify;
}

/* Hides the browser default checkbox */
.fieldset-item-label input {
  display: none;
}

/* My checkbox */
.fieldset-custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--bg);
  border: 1px solid var(--gray3);
  border-radius: 4px;
  transition: 0.3s;
}

/* Add gray hover */
.fieldset-item-label:hover input ~ .fieldset-custom-checkbox {
  background-color: var(--gray5);
}

/* add a orange background when checked */
.fieldset-item-label input:checked ~ .fieldset-custom-checkbox {
  border: none;
  background-color: var(--orange);
}

/* Here we can put what we want to be the "check" of the checkbox and position it accordingly */
.fieldset-custom-checkbox:after {
  content: "✓";
  color: var(--bg);
  position: absolute;
  left: 3px;
  top: -2px;
  display: none;
}

/* Shows the ✓  */
.fieldset-item-label input:checked ~ .fieldset-custom-checkbox:after {
  display: block;
}


/**
 * Instructions styles
 */

.instructions-ol {
  counter-reset: orange-counter;
}

.instructions-ol li {
  counter-increment: orange-counter;
  position: relative;
  z-index: 1;
  padding-left: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
  text-align: justify;
}

/* Style the number */
.instructions-ol li::marker {
  content: counter(orange-counter);
  color: var(--bg);
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Playfair Display;
  font-weight: 700;
}

/* Creates a orange div and positions it in the back of the number */
.instructions-ol li::before {
  content: '';
  background: var(--orange);
  border-radius: 6px;

  z-index: -1;
  position: absolute;
  top: 0;
  left: -24px;

  width: 36px;
  height: 36px;
}

.source-link {
  margin-bottom: 32px;
}

/**
 * Footer styles
 */
footer {  
  width: 100%;
  padding: 12px 0;
  margin-top: auto;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  text-align: center;
  color: var(--gray4);
}

footer b a {
  color: var(--gray4);
}