/* Default styles */

:root {
  --white: hsla(0, 0%, 100%, 1);
  --background: hsla(270, 4%, 9%, 1);
  --gray1: hsla(0, 0%, 66%, 1);
  --gray2: hsla(0, 0%, 51%, 1);
  --gray3: hsla(0, 0%, 77%, 1);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: var(--white);
  list-style: none;
  background: var(--background);
}

body {
  height: 100%;
}

b {
  font-weight: 700;
}

/* Footer styles */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  margin-top: auto;
  font-size: 0.875rem;
  text-align: center;
  color: var(--gray1);
}

footer > b > a {  
  color: var(--gray1);
  text-decoration: underline;
}

/* Header styles */

.InteriorConsultant__nav {
  display: flex;
  padding: 42px 76px 0;
  align-items: center;
  justify-content: space-between;
}

.InteriorConsultant__nav-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--white);
  padding: 8px;
  font-family: 'Crimson Pro';
  font-weight: 200;
  
  transition: 300ms ease-out;
}

.InteriorConsultant__nav-button:hover {
  background-color: var(--white);
  color: var(--background);
}

.InteriorConsultant__menu {
  display: flex;
}

.InteriorConsultant__menu li {
  padding: 8px;
  cursor: pointer;
  transition: 300ms ease-out;
}

.selected, 
.InteriorConsultant__menu li:hover {
  font-weight: 700;
  border-bottom: 1px solid var(--white); 
}

.InteriorConsultant__menu-responsive-link,
.InteriorConsultant__menu-responsive-close {
  display: none;
}

/* Responsive menu (hamburger) style */
@media screen and (max-width: 1024px) {
  .InteriorConsultant__nav {
    padding: 12px;
  }

  .InteriorConsultant__menu-responsive-link {
    display: block;
  }

  .InteriorConsultant__menu {
    flex-direction: column;
    place-items: center;
    justify-content: center;
    will-change: transform;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    z-index: 1000;
    overflow: hidden;
    background: var(--background);
    /* animate slide up/down */
    display: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .InteriorConsultant__menu li {
    margin-top: 24px;
  }
  
  .InteriorConsultant__menu:target {
    display: flex;
    transform: none;
  }

  .InteriorConsultant__menu-responsive-close {
    /* Material icons is a font, so this works for this icon */
    display: block;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .InteriorConsultant__menu li:not(:last-child) {
    margin-right: 42px;
  }
}

/* Section style */

.InteriorConsultant--section {
  display: flex;
  justify-content: space-between;
  padding: 76px;
}

@media screen and (max-width: 1024px)  {
  .InteriorConsultant--section {
    padding: 12px;
    flex-direction: column;
  }
}

.InteriorConsultant--text {
  max-width: 35%;
  margin: 10% 5% 0 0;
}

@media screen and (max-width: 1024px)  {
  .InteriorConsultant--text {
    max-width: 70%;
    align-self: start;
  }
}

.InteriorConsultant--imageWrapper {
  position: relative;
  max-width: 100%;
}

.InteriorConsultant--imageWrapper > img {
  height: auto;
  width: 100%;
}

.InteriorConsultant--title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.813rem;
  margin-bottom: 40px;
}

.InteriorConsultant--p {
  margin-bottom: 48px;
  font-size: 1.5rem;
  line-height: 1.813rem;
}

.InteriorConsultant--readMore {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .InteriorConsultant--title {
    font-size: 2.25rem;
  }
 
  .InteriorConsultant--p, .InteriorConsultant--readMore {
    font-size: 0.875rem;
  }

  .InteriorConsultant--p {
    line-height: 1.063rem;
  }
}

.InteriorConsultant--readMore span {
  margin-left: 14px;
}

/* Tweet style */

.InteriorConsultant--tweet {
  padding: 26px;
  max-width: 410px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--background);
  position: relative;
  left: 30%;
  bottom: 45px;
}

.InteriorConsultant--tweetAuthor {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.InteriorConsultant--tweetPhoto {
  border-radius: 50%;
  width: 50px;
  margin-right: 20px;
}

.InteriorConsultant--tweetJob {
  color: var(--gray2);
  margin-top: 8px;
  font-size: 0.75rem;
  font-weight: 500;
}

.InteriorConsultant--tweetContent {
  font-family: 'Lora';
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.938rem;
  font-weight: 700;
}